<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include "partials/meta-info.html" %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

</head>
<body {% block bodyClass %}{% endblock %}>
    {% include "partials/header.html" %}

    <div class="grid-wrap__base {% block gridMod %}{% endblock %}">
        {% block content %}

        {% endblock %}

        {% if verticalArrow %}
        <button class="scrollctrl scrollctrl--prev" data-scroll-dir="prev">
            <div class="arrow arrow--large arrow--up"></div>
        </button>
        <button class="scrollctrl scrollctrl--next" data-scroll-dir="next">
            <div class="arrow arrow--large arrow--down"></div>
        </button>
        {% endif %}
    </div>

    {% block scripts %}{% endblock %}
    <script src="{{ '/assets/js/main.js' | url }}"></script>
</body>
</html>
