{% extends "layouts/base.html" %}

{% block gridMod %}contacts static{% endblock %}
{% block content %}

    {%  include "partials/hero.html" %}

    <main class="contacts__body main">

        <h3 class="resume-block__subtitle">Contact info</h3>

        <p class="resume-block__text">
            <a href="tel:34698999059" class="accent-text">+34 698 999 059</a> mobile, Spain
        </p>

        <p class="resume-block__text">
            <a href="mailto:alexei.v.elkin@gmail.com" class="accent-text">alexei.v.elkin@gmail.com</a>
        </p>

        <p class="resume-block__text">
            <a href="mailto:alex.zakamsky@gmail.com" class="accent-text">alex.zakamsky@gmail.com</a>
        </p>

        <h3 class="resume-block__subtitle">Messengers</h3>

        <p class="resume-block__text">
            <a href="https://telegram.im/@aleksdevega" class="accent-text">Telegram: @aleksdevega</a>
        </p>
        <p class="resume-block__text">
            <a href="viber://chat?number=%2B34698999059" class="accent-text">Viber</a>
        </p>
        <p class="resume-block__text">
            <a href="https://wa.me/34698999059" class="accent-text">WhatsApp</a>
        </p>
        <p class="resume-block__text">
            <a href="skype://sir.alex.zakamsky" class="accent-text">Skype: sir.alex.zakamsky</a> I am online on skype ONLY by appointment.
        </p>


        <h3 class="resume-block__subtitle">Social networks</h3>
        <p class="resume-block__text">
            My <a href="https://github.com/Zakamsky" class="accent-text">Github</a> where you can see my projects and code samples
        </p>
        <p class="resume-block__text">
            My <a href="https://www.linkedin.com/in/alexelkin/" class="accent-text">LinkedIn</a> account
        </p>
        <p class="resume-block__text">
            My  <a href="https://resume.elkin.dev/" class="accent-text">CV online</a>
        </p>

    </main>

{% endblock %}
