{% extends "layouts/base.html" %}

{% block gridMod %}contacts static{% endblock %}
{% block content %}

    {%  include "partials/hero.html" %}

    <main class="contacts__body main">

        <h3 class="resume-block__subtitle">Контакты</h3>

        <p class="resume-block__text">
            <a href="tel:34698999059" class="accent-text">+34 698 999 059</a> мобильный, Испания (также доступен в мессенджерах по этому номеру)
        </p>

        <p class="resume-block__text">
            <a href="mailto:alexei.v.elkin@gmail.com" class="accent-text">alexei.v.elkin@gmail.com</a>
        </p>

        <p class="resume-block__text">
            <a href="mailto:alex.zakamsky@gmail.com" class="accent-text">alex.zakamsky@gmail.com</a>
        </p>

        <h3 class="resume-block__text">Мессенджеры</h3>

        <p class="resume-block__text">
            <a href="https://telegram.im/@aleksdevega" class="accent-text">Telegram: @aleksdevega</a>
        </p>
        <p class="resume-block__text">
            <a href="viber://chat?number=%2B34698999059" class="accent-text">Viber</a>
        </p>
        <p class="resume-block__text">
            <a href="https://wa.me/34698999059" class="accent-text">WhatsApp</a>
        </p>
        <p class="resume-block__text">
            <a href="skype://sir.alex.zakamsky" class="accent-text">Skype: sir.alex.zakamsky</a> В скайпе я бываю онлайн ТОЛЬКО по предварительной договоренности.
        </p>


        <h3 class="resume-block__subtitle">Аккаунты в сети</h3>
        <p class="resume-block__text">
            Мой <a href="https://github.com/Zakamsky" class="accent-text">Github</a> где можно посмотреть мои проекты и примеры кода
        </p>
        <p class="resume-block__text">
            Мой <a href="https://www.linkedin.com/in/alexelkin/" class="accent-text">LinkedIn</a> акаунт
        </p>
        <p class="resume-block__text">
            Моя анкета на  <a href="https://career.habr.com/alexsei-elkin" class="accent-text">Habr:Career</a>
        </p>
        <p class="resume-block__text">
            Мой профиль на <a href="https://freelance.habr.com/freelancers/alexelkin" class="accent-text">Habr:freelance</a>
        </p>
        <p class="resume-block__text">
            Резюме на <a href="https://hh.ru/resume/6a755e4eff079b54c60039ed1f784e4d576957" class="accent-text">HeadHunter</a>
        </p>
        <p class="resume-block__text">
            Резюме на <a href="https://www.superjob.ru/resume/frontend-developer-47452184.html" class="accent-text">superjob</a>
        </p>


        <p class="resume-block__text accent-text">
            Я гражданин РФ и в данный момент нахожусь в Испании, г. Валенсия. Доступен только по местному номеру телефона или любым мессенджерам.
        </p>

    </main>

{% endblock %}
