{% extends "layouts/base.html" %}

{% block gridMod %}home static{% endblock %}
{% block content %}

    {%  include "partials/hero.html" %}

    <aside class="nav">
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="#md-intro" class="nav__link" data-scroll-to>
                    <p class="nav_text">
                        intro
                    </p>
                </a>
            </li>
            {% for section in sections %}
                <li class="nav__item">
                    <a href="#{{ section.title | slug }}" class="nav__link" data-scroll-to>
                        <p class="nav_text">
                            {{ section.title }}
                        </p>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </aside>

    <main class="resume__body main" tabindex="-1" id="main-content">

        <section class="resume-block" id="md-intro" data-section>
            <p class="accent-text text--large code">&lt; HelloWorld /&gt;</p>
            <div class="resume-block__content">
                {{ content | safe }}
            </div>
        </section>

        {% for section in sections %}
            <section class="resume-block" id="{{ section.title | slug }}" data-section>
                <h2 class="resume-block__title">
                    {{ section.title }}
                </h2>
                <div class="resume-block__content">
                    {{ section.description }}
                </div>
                <p>collections.blog</p>
                <p>{{section.collection}}</p>
                <ul>
                    {% for item in collections[section.collection] %}
                        {% include "partials/" + section.partial + ".html" %}

                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </main>

{% endblock %}
