{% extends "layouts/base.html" %}

{% block gridMod %}portfolio{% endblock %}
{% block content %}

    <aside class="nav nav--rotate">
        <ul class="nav__menu">
            {% for work in collections.work %}
                <li class="nav__item">
                    <a href="#{{ work.data.id | slug  }}" class="nav__link" data-scroll-to>
                        <div class="media">
                            <img src="{{ work.data.logo | url }}" alt="" class="media__img">
                            <p class="media__content">
                                <span class="media__content--title">{{ work.data.title }}</span><br/>
                                {{ work.data.subtitle }}
                            </p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside>

    <main class="main">
        <div class="portfolio__content">

            <h1>{{ title }}</h1>

            {{ content | safe }}

        </div>

        {% for item in collections.work %}
            {% include "partials/_work-item.html" %}
        {% endfor %}

    </main>

{% endblock %}
