{% extends "layouts/base.html" %}

{% block gridMod %}resume{% endblock %}
{% block content %}

    <aside class="nav nav--rotate">
        <ul class="nav__menu">
            <li class="nav__item">
                <a href="#bow59" class="nav__link" data-scroll-to>
                    <div class="media">
                        <img src="img/logo_bow.jpg" alt="" class="media__img">
                        <p class="media__content">
                            <span class="media__content--title">bow59.ru</span><br/>
                            3D archery club
                        </p>
                    </div>
                </a>
            </li>
            <li class="nav__item">
                <a href="#ottempo" class="nav__link" data-scroll-to>
                    <div class="media">
                        <img src="img/logo_ott.jpg" alt="" class="media__img">
                        <p class="media__content">
                            <span class="media__content--title">Ordo temple</span><br/>
                            Game orden
                        </p>
                    </div>
                </a>
            </li>
            <li class="nav__item">
                <a href="#newprov" class="nav__link" data-scroll-to>
                    <div class="media">
                        <img src="img/logo_new.jpg" alt="" class="media__img">
                        <p class="media__content">
                            <span class="media__content--title">New Providence</span><br/>
                            Local news page
                        </p>
                    </div>
                </a>
            </li>
            <!--<li class="nav__item nav__item">
                <a href="#vienna" class="nav__link" data-scroll-to>
                    <div class="media">
                        <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-st-stephens-church-112868985.jpg?sharp=10&vib=20&w=2000" alt="" class="media__img">
                        <p class="media__content">
                            <span class="media__content&#45;&#45;title">Vienna</span><br/>
                            Austria
                        </p>
                    </div>
                </a>
            </li>-->
        </ul>
    </aside>

    <main class="main">

        <article class="section" id="bow59" data-section>
            <header class="section__header" style="background-image: url('img/bow_bg_upper.png'), url('img/bow_bg_under.jpg');">
                <h2 class="section__title"><a href="https://bow59.ru" target="_blank" rel="noopener" >Bow59.ru</a></h2>
                <p class="section__subtitle">3d archery sport club</p>
            </header>
            <div class="section__content">
                <ul class="boxgrid">
                    <li class="boxgrid__item boxgrid__item--wide">
                        <a href="#" class="box box--image">
                            <img src="img/laptop_bow.png" class="box__img item" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/phone_bow.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <!--<li class="boxgrid__item boxgrid__item&#45;&#45;push">-->
                    <!--<a href="#" class="box box&#45;&#45;text">-->
                    <!--<p><span class="text&#45;&#45;large">1.366</span><br />Locations</p>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/adaptiv_bow.jpg" class="box__img picture" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/phone_sm_bow.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item boxgrid__item--high">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_bow.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item boxgrid__item--wide">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_horizontal_bow.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <!--<li class="boxgrid__item boxgrid__item&#45;&#45;wide boxgrid__item&#45;&#45;high">
                        <a href="#" class="box box&#45;&#45;description">
                            <p><span class="text&#45;&#45;large">272</span><br />Locations</p>
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box&#45;&#45;cost">
                            <p><span class="text&#45;&#45;large">80€</span><br />Daily cost</p>
                        </a>
                    </li>-->

                </ul>
            </div>
        </article>
        <article class="section" id="ottempo" data-section>
            <header class="section__header" style="background-image: url('img/ott_bg_upper.png'), url('img/ott_bg_under.jpg');">
                <h2 class="section__title"><a href="http://alex.w2c.ru/orden" target="_blank" rel="noopener" >Ordo Temple</a></h2>
                <p class="section__subtitle">Game orden</p>
            </header>
            <div class="section__content">
                <ul class="boxgrid">
                    <li class="boxgrid__item boxgrid__item--wide">
                        <a href="#" class="box box--image">
                            <img src="img/laptop_ott.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <!--<li class="boxgrid__item">
                        <a href="#" class="box box&#45;&#45;weather">
                            <p><span class="text&#45;&#45;large">30°C</span><br />Sunny</p>
                        </a>
                    </li>-->
                    <li class="boxgrid__item boxgrid__item--push">
                        <a href="#" class="box box--image">
                            <img src="img/phone_ott.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item ">
                        <a href="#" class="box box--image">
                            <img src="img/adaptiv_ott.jpg" class="box__img picture" alt="" />
                        </a>
                    </li>

                    <!--<li class="boxgrid__item">
                        <a href="#" class="box box&#45;&#45;cost">
                            <p><span class="text&#45;&#45;large">150$</span><br />Daily cost</p>
                        </a>
                    </li>-->
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/phone_ott2.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_horizontal_ott.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_ott.png" class="box__img" alt="" />
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="section" id="newprov" data-section>
            <header class="section__header" style="background-image: url('img/new_bg_upper.png'), url('img/new_bg_under.jpg')">
                <h2 class="section__title"><a href="http://alex.w2c.ru/test" target="_blank" rel="noopener" >New Providence</a></h2>
                <p class="section__subtitle">Local news page</p>
            </header>
            <div class="section__content">
                <ul class="boxgrid">
                    <!--<li class="boxgrid__item">
                        <a href="#" class="box box&#45;&#45;weather">
                            <p><span class="text&#45;&#45;large">22°C</span><br />Rain</p>
                        </a>
                    </li>-->
                    <li class="boxgrid__item boxgrid__item--wide">
                        <a href="#" class="box box--image">
                            <img src="img/laptop_new.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/phone_new.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <li class="boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/adaptiv_new.jpg" class="box__img picture" alt="" />
                        </a>
                    </li>
                    <!--<li class="boxgrid__item boxgrid__item&#45;&#45;push">
                        <a href="#" class="box box&#45;&#45;locations">
                            <p><span class="text&#45;&#45;large">272</span><br />Locations</p>
                        </a>
                    </li>-->
                    <li class="boxgrid__item boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_horizontal_new.png" class="box__img" alt="" />
                        </a>
                    </li>
                    <!--<li class="boxgrid__item">
                        <a href="#" class="box box&#45;&#45;cost">
                            <p><span class="text&#45;&#45;large">80€</span><br />Daily cost</p>
                        </a>
                    </li>-->
                    <li class="boxgrid__item boxgrid__item">
                        <a href="#" class="box box--image">
                            <img src="img/tablet_new.png" class="box__img" alt="" />
                        </a>
                    </li>

                </ul>
            </div>
        </article>

    </main>

{% endblock %}
