{% extends "layouts/base.html" %}

{% block gridMod %}testimonials static{% endblock %}
{% block content %}

    {%  include "partials/hero.html" %}

    <main class="contacts__body main">

        <h3 class="resume-block__subtitle">Отзывы</h3>

        {{ content | safe }}

        <script src="https://utteranc.es/client.js"
                repo="Zakamsky/my-site-utterances-comments"
                issue-term="url"
                label="💬"
                theme="preferred-color-scheme"
                crossorigin="anonymous"
                async>
        </script>

    </main>

{% endblock %}

{% block scripts %}

{% endblock %}
