{#<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>#}

<header class="header">
    <nav class="navigation-menu js-nav-menu">
        <button class="navigation-menu__toggle js-nav-menu-toggle">
            <span class="navigation-menu__bars"></span>
            Меню
        </button>
        <ul class="menu-list list-unstyled">
            <li class="menu-list__item"><a href="/">Главная</a></li>
            <li class="menu-list__item"><a href="/portfolio">Портфолио</a></li>
            <!--<li class="menu-list__item"><a href="/index2.html">slider</a></li>-->
            <!--<li class="menu-list__item"><a href="/site.html">site anatomy</a></li>-->
            <!--<li class="menu-list__item"><a href="/resume.html">Resume</a></li>-->
            <!--<li class="menu-list__item"><a href="/services.html">services</a></li>-->
            <li class="menu-list__item"><a href="/contacts">Контакты</a></li>
        </ul>
    </nav>

</header>
