{#<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>#}

<header class="header">
    <nav class="navigation-menu js-nav-menu">
        <button class="navigation-menu__toggle js-nav-menu-toggle">
            <span class="navigation-menu__bars"></span>
            Меню
        </button>
        <ul class="menu-list list-unstyled">
            <li class="menu-list__item"><a href="/">Главная</a></li>
            <li class="menu-list__item"><a href="/portfolio">Портфолио</a></li>
            <li class="menu-list__item"><a href="/testimonials">Отзывы</a></li>
            <li class="menu-list__item"><a href="/contacts">Контакты</a></li>
            <li class="menu-list__item"><a href="https://resume.elkin.dev/ru-ru/" target="_blank">Моё резюме</a></li>
        </ul>
    </nav>

</header>
