{% set work = item.data %}
<article class="section" id="{{ work.id }}" data-section>
  <header class="section__header" style="background-image: url({{ work.img.main }}), url({{ work.img.background }});">
    <h2 class="section__title"><a href="{{ work.urlOrigin }}" target="_blank" rel="noopener" >{{ work.title }}</a></h2>
    <p class="section__subtitle">{{ work.subtitle }}</p>
  </header>

  <div class="section__content">
{#    <p class="section__summary">{{ work.summary }}</p>#}
    <ul class="boxgrid">

      {% for item in work.gallery %}
        <li class="boxgrid__item{% if item.mod %} boxgrid__item--{{ item.mod }}{% endif %}">
          <a href="#" class="box box--image">
            <img src="{{ item.url | url }}" class="box__img item" alt="" />
          </a>
        </li>
      {% endfor %}

      {% if work.content %}
        <li class="boxgrid__item boxgrid__item--wide boxgrid__item--high">
          <div class="box box--description">
              {{ work.content | safe }}
          </div>
        </li>
      {% endif %}

    </ul>
  </div>
</article>
